/*=====================================Layout==========================================*/
.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('./imagens/spotify.svg') no-repeat;
	background-size: contain;	
	color: transparent;
}

nav.navbar-transparent{
	background: black;
	padding: 15px;
	background: rgba(0,0,0,0.6);
	border:none;
	font-size: 1.1em;
}
.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin:16px 10px;
}
.navbar-inverse .navbar-nav > li > a{
color: white;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
	color: #2edcf0;
}



/*=====================================Tipografia========================================*/